body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 600px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}

.title-h2{
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-40{
    font-size: 40px;
    letter-spacing: -1.1px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
}

.title-40 span{
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
}

.page-app-content h2{
    margin-bottom: 36px;
}

.title-h2 span{
    display: block;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.page-stat .title-h2{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.wrap{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 305px;
}

.logo{
    display: block;
    width: 181px;
    height: 49px;
    background-image: url(../img/header/logo.png)
}

nav{
    display: flex;
}

nav ul {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav li{
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav li:last-child{
    padding-right: 0;
}

.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}

.nav-modal{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.screen-img{
    display: block;
    background:no-repeat url(../img/header/header_screen.png);
    width: 895px;
    height: 745px;
    position: absolute;
    right: 0;
    top: 192px;
}

button{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn-primary{
    text-transform: uppercase;
    background-color: #1085e4;
    border:1px solid #1085e4;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn-menu{
    border: none;
    background-color: transparent;
    display: none;
}

.btn-menu:focus{
    outline: none;
}

.btn-menu svg{
    width: 35px;
    height: 35px;
    fill: #192b59;
}

.btn-subscribe{
    font-size: 14px;
    font-weight: bold;
    padding: 18px 44px;
    letter-spacing: 2.7px;
}

.mobile-subscribe{
    display: none;
}

.btn-learn{
    padding: 20px 61px;
}

.btn-primary:hover{
    background-color: #fff;
    color: #1085e4;
}

.btn-secondary{
    text-transform: uppercase;
    background-color: #cbdbe8;
    border:1px solid #cbdbe8;
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 41px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.btn-secondary:hover{
    background-color: #fff;
}

.btn-free {
    background-color: #1085e4;
    font-weight: 400;
    padding: 16px 56px;
    letter-spacing: 1.7px;
}

.btn-info{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding: 20px 62px;
    border-radius: 30px;
    letter-spacing: 2.5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn-info:hover{
    color: #dce1e5;
    background-color: #8085b1;
}

.btn-active{
    padding: 20px 62px;
}

.btn-group a+a{
    margin-left: 15px;
}

.btn-close{
    border: none;
    right: 21px;
    top: 15px;
    font-size: 35px;
    position: absolute;
    background-color: transparent;
    opacity: 0.2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn-close:hover{
    opacity: 0.5;
}

.btn-close:focus{
    outline: none;
}

.btn-close span{
    color: #6e7ea9;
}

.modal{
    position: relative;
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 30px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px 15px 45px 15px;
    box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

ul.nav-modal>li{
    margin-bottom: 12px;
}

ul.nav-modal>li:last-child{
    margin-top: 35px;
}

.list-company{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.company-one{
    -ms-flex-preferred-size: 198px;
        flex-basis: 198px;
}
.company-two{
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}
.company-three{
    -ms-flex-preferred-size: 201px;
        flex-basis: 201px;
}
.company-four{
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
}

.list-company-item span{
    display: block;
    margin: 0 auto;
}

.company-one span{
    background-image: url(../img/sponsors/bg_1.png);
    width: 198px;
    height: 58px;
}

.company-two span{
    background-image: url(../img/sponsors/bg_2.png);
    width: 200px;
    height: 69px;
}

.company-three span{
    background-image: url(../img/sponsors/bg_3.png);
    width: 201px;
    height: 47px;
}

.company-four span{
    background-image: url(../img/sponsors/bg_4.png);
    width: 200px;
    height: 69px;
}

.grid{
    display: grid;
    grid-template-areas: "a b c"
                        "d b c"
                        "d f g"
                        "e f g"
                        "e h h";
    max-width: 1110px;
    margin:0 auto;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15px;
    padding-right: 15px;
}

.grid-title{
    grid-area: a;
}

.grid-item-1{
    grid-area: b;
}
.grid-item-2{
    grid-area: c;
}
.grid-item-3{
    grid-area: d;
}
.grid-item-4{
    grid-area: e;
}
.grid-item-5{
    grid-area: f;
}
.grid-item-6{
    grid-area: g;
}
.grid-text{
    grid-area: h;
    padding-top: 15px;
}

.grid-text p span{
    color: #192b59;
    font-size: 16px;
    font-weight: bold;
}

.grid-text-author{
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

.grid h2{
    font-size: 40px;
    color:#192b59;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    margin: 0;
}

.grid h2 span{
    font-size: 14px;
    color:#1085e4;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 13px;
}


.grid-item{
    text-align: center;
    -webkit-box-shadow: 15px 15px 10px #f4f4f4;
            box-shadow: 15px 15px 10px #f4f4f4;
    padding: 40px;
}

.grid-item h3{
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}

.grid-item a{
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-icon{
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 92px;
    background-position: center;
}

.grid-icon-1{
    background-image: url(../img/instruments/icon1.png);
    background-size: 73px 79px;
}
.grid-icon-2{
    background-image: url(../img/instruments/icon2.png);
    background-size: 89px 85px;
}
.grid-icon-3{
    background-image: url(../img/instruments/icon3.png);
    background-size: 79px 82px;
}
.grid-icon-4{
    background-image: url(../img/instruments/icon4.png);
    background-size: 102px 92px;
}
.grid-icon-5{
    background-image: url(../img/instruments/icon5.png);
    background-size: 85px 90px;
}
.grid-icon-6{
    background-image: url(../img/instruments/icon6.png);
    background-size: 100px 87px;
}

.settings-icon{
    background-image: url(../img/setts.png);
    display: block;
    width: 114px;
    height: 97px;
    background-repeat: no-repeat;
    background-position: -24px 0;
}

.page-software .title-h2, .page-analitics .title-h2, .page-edit .title-h2{
    max-width: 557px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-edit .title-h2{
    max-width: 428px;
}

.page-software-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.page-software-img{
    background-image: url(../img/section2/programming.png);
    width: 48%;
    height: 995px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: block;
    position: absolute;
    left: -20px;
    bottom: -39px;
    z-index: -1;
}

.page-software-flex>div{
    -ms-flex-preferred-size: 55.5%;
        flex-basis: 55.5%;
}

.flex-edit>div{
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
}

.page-software-list{
    margin-top: 30px;
    overflow-y: scroll;
    height: 344px;
    scrollbar-color: #1085e4 #f3f6ff;

}

.page-software-list::-webkit-scrollbar { width: 4px; height: 3px;}
.page-software-list::-webkit-scrollbar-button {  background-color: #fff; }
.page-software-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-software-list::-webkit-scrollbar-thumb { width: 1px; background-color: #1085e4; border-radius: 10px;}
.page-software-list::-webkit-resizer {  width: 1px;  height: 0px;}

.page-software-list dt{
    color: #5a6789;
    font-weight: 700;
    margin-bottom: 13px;
}

.page-software-list dd{
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.7;
}

.page-subscribe h2{
    color: #fff;
    font-weight: 600;
    letter-spacing: -1.7px;
}

.page-subscribe h2 span{
    font-size: 14px;
    color:#1085e4;
    display: block;
    font-weight: 800;
    letter-spacing: 2.5px;
    margin-bottom: 50px;
    margin-bottom: 32px;
    margin-top: 60px;
}

.box-subscribe{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.text-subscribe{
    font-size: 18px;
    max-width: 405px;
    color: #dfe8ff;
    line-height: 1.6;
    margin-bottom: 36px;
}

h2{
    font-size: 50px;
    color:#192b59;
    font-weight: 700;
}

.page-screen{
    text-align: center;
    background-color: #edf6ff;
	padding: 83px 0 0 0;
}

.page-screen h2{
    font-size: 40px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.1px;
}

.page-screen h2 span{
    font-size: 18px;
    color:#1085e4;
    display: block;
    font-weight: 800; 
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

.list-stat{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex; 
   list-style-type: none;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   margin-top: 76px;
   flex-wrap: wrap;
}

.list-stat>li{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1085e4; 
    text-align: center; 
    letter-spacing: 2.7px;
}

.list-stat>li>span{
    display: block;
    color: #bacbdc;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen{
    margin-top: 37px;
    margin-bottom: -7px;
    width: 100%;
    max-width: 1288px;
}

.box-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 83px;
    flex-wrap: wrap;
}

.box-price-item{
    background-color: #f5faff;
    font-size: 14px;
    font-weight: 400;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    padding: 90px 0 96px 0;
    position: relative;
}

.box-price-item::after{
    content: "";
    background-image: url(../img/triangle.svg);
    position: absolute;
    top: 0;
    right:0;
    height: 100%;
    width: 58px;
}

.box-price-item.active::after{
    display: none;
}

.box-price-item h3{
    margin-bottom: 15px;
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0px;
}

.box-price-item h3 span{
   font-size: 20px; 
}

.box-price-item p{
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item.active{
    background-color: #192b59;
    color: #fff;
}

.box-price-item.active p{
    color: #fff;
}

.box-price-item.active h3, span{
    color: #fff;
}

.box-price-item ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 34px;
    margin-bottom: 59px;
}
.box-price-item ul>li{
    margin-bottom: 14px;
}

.price.title-h2 span{
    letter-spacing: 5px;
}

.price.title-h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
}

.box-price-item:first-child h3{
    margin-bottom: 35px;
}

.box-subscribe-user{
    position: relative;
}

.box-subscribe-user input{
    padding: 25px 230px 25px 37px;
    border-radius: 45px;    
    border: 2px solid #3d53ab;    
    background-color: transparent;   
    display: block;    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;   
    width: 100%;   
    font-size: 14px;
    color: #fff;
}

.box-subscribe-child{
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}


.box-subscribe-user .btn-primary{
    position: absolute;
    top: 10px;
    right: 13px;
    padding: 17px 45px;
}

::-webkit-input-placeholder {color:#b1c3ee;}
::-moz-placeholder          {color:#b1c3ee;}
:-moz-placeholder           {color:#b1c3ee;}
:-ms-input-placeholder      {color:#b1c3ee;}

input:focus, button{
    outline: none;
}

.box-clients{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 63px;
    flex-wrap: wrap;
}

.box-clients-item{
    background-color: #fff;
    padding: 21px 42px;
    border-radius: 10px;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    -webkit-box-shadow: 0px 5px 6px #f4f4f4;
            box-shadow: 0px 5px 6px #f4f4f4;
}

.box-clients-item .name{
    font-size: 22px;
    color: #000958;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: -0.6px;
}

.box-clients-item .position{
   color: #1085e4;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 700;
   margin-top: 0;
   letter-spacing: 3px;
}

.box-clients-item>p{
    margin-bottom: 4px;
    line-height: 1.7;
}

.box-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-info>div{
    padding-left: 19px;
}

.box-team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 140px;
    flex-wrap: wrap;
}

.box-team-item{
    position: relative;
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    -webkit-box-shadow: 0px 5px 6px #f4f4f4;
            box-shadow: 0px 5px 6px #f4f4f4;
    padding: 193px 31px 42px 31px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.box-team-item .avatar{
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.box-team-item .position{
    font-size: 14px;
    text-transform: uppercase;
    color: #1a88e1;
    font-weight: 900;
    margin-bottom: 0px;
    letter-spacing: 2.1px;
}

.box-team-item .name{
    font-size: 26px;
    color: #192b59;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.9px;
}

.box-team-item .btn-team{
	background-color: #f3f3f3;
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0px;
}

.box-team-item .btn-team span{
	background-image: url(../img/btn-team.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	-ms-flex-item-align: center;
	    align-self: center;
}

.box-team-item .btn-team:hover{
	background: #1a88e1;
}

.box-team-item .btn-more span{
	background-position: -3px 1px;
	width: 20px;
	height: 20px;
}

.box-team-item .btn-more:hover span{
    background-position: -3px -21px;
}

.box-team-item .btn-more:focus{
    outline: none;
}

.social-team{
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    padding: 0;
    margin: 0;
}

.box-team-item .btn-fb span{
	background-position: -25px 1px;
	width: 20px;
	height: 20px;
}
.box-team-item .btn-fb:hover span{
	background-position: -25px -21px;
}
.box-team-item .btn-tw span{
	background-position: -46px 1px;
	width: 20px;
	height: 20px;
}
.box-team-item .btn-tw:hover span{
	background-position: -46px -21px;
}
.box-team-item .btn-be span{
	background-position: -72px 1px;
	width: 20px;
	height: 20px;
}
.box-team-item .btn-be:hover span{
	background-position: -72px -21px;
}
.box-team-item .btn-web span{
	background-position: -96px 1px;
	width: 20px;
	height: 20px;
}
.box-team-item .btn-web:hover span{
	background-position: -96px -21px;
}

.object-circle{
    background-image: url(../img/circle-gray.svg);
    display: block;
    position: absolute;
    left: 0px;
    bottom: -363px;
    width: 413px;
    height: 758px;
    background-repeat: no-repeat;
    background-size: contain;
}
.object-rhombus{
	background-image: url(../img/rhombus-gray.png);
	display: block;
	position: absolute;
	right: 0;
	top: -234px;
	width: 610px;
	height: 827px;
	background-repeat: no-repeat;
	background-size: contain;
}

.contact-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 51px;
}

.contact-form input, .contact-form textarea{
    font-size: 14px;
    border: 2px solid #dce4ec;
    padding: 25px 80px 25px 37px;
    border-radius: 35px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color:#8995b3;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder          {color:#8995b3;}/* Firefox 19+ */
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder           {color:#8995b3;}/* Firefox 18- */
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder      {color:#8995b3;}

.contact-form .btn-primary{
    position: relative;
    padding: 22px 40px 22px 65px;
    max-width: 232px;
    letter-spacing: 2px;
}

.contact-form .btn-primary::before{
    content: '';
    background-image: url(../img/paper.png);
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: calc(50%-6px);
    left: 54px;
}

.contact-form-item{
    margin-bottom: 19px;
    position: relative;
}

.contact-form-item::after {
    content: '';
    display: block;
    position: absolute;
    right: 42px;
    background-repeat: no-repeat;
}


.contact-form-name::after {
    background-image: url(../img/user.png);
    width: 13px;
    height: 15px;
    top: calc(50% - 7px);
}

.contact-form-email::after {
    background-image: url(../img/mail.png);
    width: 14px;
    height: 11px;
    top: calc(50% - 7px);
}

.contact-form-text::after {
    background-image: url(../img/pen.png);
    width: 14px;
    height: 15px;
    top: 29px;
}

.contact-form-text{
    margin-bottom: 39px;
}

.contact-form textarea{
    min-height: 161px ;
    resize: none;
}

.flex-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1123px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
}

.flex-form>div{
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
}

.flex-form img{
    margin-right: 75px;
    margin-top: 57px;
}

.page-form .btn-primary:hover{
    background: #192b59;
}

.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.social>li{
    margin-left: 23px;
}

.social-facebook svg{
    width: 16px;
}
.social-twitter svg{
    width: 16px;
}
.social-behance svg{
    width: 17px;
}
.social-pinterest svg{
    width: 17px;
}
.social-foursquare svg{
    width: 17px;
}

.social-item:hover svg path{
    fill: #1085e4;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* Page */

.page-company{
    background: no-repeat url(../img/sponsors/layer.jpg);
    background-size: cover;
    padding:106px 0 99px;
    }

header{
    background-image: url(../img/header/header_bg.png);
    background-repeat: no-repeat;
    padding: 53px 0 330px 0;
    position: relative;
    background-position: center;
	background-size: cover;
}

.page-stat, .page-screen{
    background-color: #edf6ff;
}

.page-software{
    padding: 110px 0 146px 0;
    position: relative;
    overflow: hidden;
}

.intro{
    color: rgba(0, 0, 0, 0.04);
    font-size: 300px;
    font-weight: 900;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    top: 40px;
}

.page-stat{
    padding: 116px 0 96px 0;
    position: relative;
}

.page-app-text{
    text-transform: uppercase;
    font-weight: 700;
    color: #c4d2dd;
    margin-top: 26px;
    letter-spacing: 3.5px;
    margin-bottom: 20px;
}

.page-app-list{
    padding: 0;
    list-style-type: none;
}

.page-app-list li{
    display: inline-block;
    margin-left: -7px;
}

.page-app-list>li>a{
    background-image: url(../img/section2/app.png);
    display: block;
    width: 185px;
    height: 78px;
    background-repeat: no-repeat;
}

.page-app-list>li>a.page-app-android{
    background-position: 0 0;
}

.page-app-list>li>a.page-app-ios{
    background-position: -185px 0;
}

.page-app-content{
    width: 55%;
}

.video-app{
    position: absolute;
    top: -60px;
    right: -170px;
}

.flex-analitics{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-edit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.flex-analitics>div{
    -ms-flex-preferred-size: 53%;
        flex-basis: 53%; 
}

.page-analitics-text, .page-edit-text{
    margin-bottom: 50px;
}

.page-plan{
    text-align: center;
    padding: 81px 0 121px 0;
}

.price-color{
    color: #7685ad;
}

.page-grid{
    padding:119px 0 110px;
}
.page-subscribe{
    padding: 50px 0 51px;
    background: rgba(10,32,144,1);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,32,144,1)), color-stop(100%, rgba(35,120,205,1)));
    background: linear-gradient(135deg, rgba(10,32,144,1) 0%, rgba(35,120,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1 );
}

.page-app{
    padding: 69px 0 82px 0;
}

.page-app .wrap{
    position: relative;
}

.page-analitics{
    background-image: url(../img/section3/bg-analitics.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 117px 0 137px 0;
    background-position: center;
}

.page-edit{
    background-image: url(../img/section4/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 118px 0 136px 0;
    background-size: cover;
}

.page-clients{
    position: relative;
    margin-top: 120px;
    padding: 43px 0 0 0;
}

.page-clients::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/clients/bg.svg);
    background-repeat: no-repeat; 
    top: 0;
    z-index: -1;
}

.page-clients .title-40 span, .page-team .title-40 span{
    color: #85c8ff;
}

.page-clients .title-40, .page-team .title-40{
    color: #fff;
}

.page-team{
    text-align: center;
    background-image: url(../img/specialists/bg-team.png);
    background-repeat: no-repeat;
    padding: 82px 0 117px 0;
}

.page-form{
    background-image: url(../img/LastSectAndFooter/lastbg.png);
    background-position: center;
    background-size: cover;
    padding: 70px 0 121px 0;
}

footer{
    background-color: #192b59;
    padding: 5px 0 4px 0;
}

footer p{
    margin: 0;
    color: #b6bae0;
}

footer p>a{
    color: #1085e4;
    text-transform: uppercase;
}

.flex-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


